<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
<h4 class="yourTodos">Your Todos</h4>
<div *ngIf="this.todos.length === 0; else elseBlock">
  <h4 class="noTodos">No Todos To Display</h4>
</div>
<ng-template #elseBlock>
  <div class="todoContainer">
    <div *ngFor="let todo of todos; index as i">
      <app-todo-item
        [todo]="todo"
        [i]="i"
        (todoDelete)="deleteTodo($event)"
        (todoCheckBox)="toggleTodo($event)"
      >
      </app-todo-item>
    </div>
  </div>
</ng-template>
