<div class="container-form mb-3">
  <h3 class="my-3 text-center">Add a Todo</h3>
  <form class="form-container" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label [ngStyle]="{ margin: '10px 0' }" for="title">Todo Title</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="title"
        name="title"
        id="title"
      />
    </div>
    <div class="form-group">
      <label [ngStyle]="{ margin: '10px 0' }" for="description"
        >Todo Description</label
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="description"
        name="description"
        id="description"
      />
    </div>
    <button type="submit" class="btn addTodoBtn btn-primary">Add Todo</button>
  </form>
</div>
