/* You can add global styles to this file, and also import other style files */

body {
  overflow: hidden;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.todoTitle {
  text-align: center;
  margin-bottom: 20px;
}

.todoContainer,
.noTodos {
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  max-width: 600px;
  overflow: scroll;
  height: 175px;
}

.single-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
}

.yourTodos {
  text-align: center;
}

.container-form {
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.noTodos {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
